# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
**/db.sqlite3

# Docker
*.log
*.tmp
docker-compose.override.yml


# Angular / Node.js
node_modules/
dist/


# Terraform
*.tfstate
*.tfstate.backup
*.tfplan
.terraform/
crash.log